.zoom-radio {
    zoom: 1.4 !important;
}

#scroll-theme{
    height: 410px !important;
    width: auto;
    overflow: scroll;
    overflow-x: hidden;
}

#scroll-theme::-webkit-scrollbar {
    display: nome
}
