.table-actionMenuMensj {
  display: none;
}

/* .table-actionMenuEmpre {
    display: inline;
  
  } */

tr:hover td .table-actionMenuMensj,
tr:hover th .table-actionMenuMensj {
  display: inline;
  float: right;
  position: absolute;
  right: 0;
}

.tableMensj table > tbody > tr > td,
.tableMensj table > tbody > tr > th {
  padding-bottom: 20px !important;
}
.tableMensj table > tfoot > tr > td,
.tableMensj table > tfoot > tr > th {
  padding-bottom: 20px !important;
}
.tableMensj table > thead > tr > td,
.tableMensj table > thead > tr > th {
  padding-bottom: 10px !important;
}
.texto-Mensj {
  font-size: 13px !important;
  font-weight: 450 !important;
}
