.tablePais table > tbody > tr > td,
.tablePais table > tbody > tr > th {
  padding-bottom: 5px;
}
.tablePais table > tfoot > tr > td,
.tablePais table > tfoot > tr > th {
}
.tablePais table > thead > tr > td,
.tablePais table > thead > tr > th {
  padding-bottom: 15px;
}

.texto-Pais {
  font-size: 14px !important;
  font-weight: 450 !important;
}
