.tableDepto table > tbody > tr > td,
.tableDepto table > tbody > tr > th,
.tableDepto table > tfoot > tr > td,
.tableDepto table > tfoot > tr > th,
.tableDepto table > thead > tr > td,
.tableDepto table > thead > tr > th {
  padding-bottom: 20px !important;
}
.texto-Depto {
  font-size: 13px !important;
  font-weight: 450 !important;
}
.table-actionMenuDepto {
  display: none;
}

/* .table-actionMenuEmpre {
  display: inline;

} */

tr:hover td .table-actionMenuDepto,
tr:hover th .table-actionMenuDepto {
  display: inline;
  float: right;
  position: absolute;
  right: 0;
}
