.table-actionMenuDep {
  display: none;
}

/* .table-actionMenuEmpre {
  display: inline;

} */

tr:hover td .table-actionMenuDep,
tr:hover th .table-actionMenuDep {
  display: inline;
  float: right;
  position: absolute;
  right: 0;
}

.tableDep table > tbody > tr > td,
.tableDep table > tbody > tr > th {
  padding-bottom: 5px !important;
  /* padding-top: 3px !important; */
  /* text-align: left !important; */
}
.tableDep table > tfoot > tr > td,
.tableDep table > tfoot > tr > th {
  height: 500px !important;
}
.tableDep table > thead > tr > td,
.tableDep table > thead > tr > th {
  /* padding: 10px; */
  padding-bottom: 10px !important;
  padding-left: 8px !important;
  text-align: center !important ;
}

.texto-Dep {
  font-size: 13px !important;
  font-weight: 450 !important;
}
