/* .tableConglo table > tbody > tr > td,
.tableConglo table > tbody > tr > th,
.tableConglo table > tfoot > tr > td,
.tableConglo table > tfoot > tr > th,
.tableConglo table > thead > tr > td,
.tableConglo table > thead > tr > th {
  padding-bottom: 5px;
} */

.tableConglo table > tbody > tr > td,
.tableConglo table > tbody > tr > th,
.tableConglo table > tfoot > tr > td,
.tableConglo table > tfoot > tr > th {
  padding-bottom: 10px !important;
}

.tableConglo1 table > thead > tr > td,
.tableConglo1 table > thead > tr > th {
  /* padding-bottom: 0px !important; */
  padding-top: 7px !important;
}

.texto-Conglo {
  font-size: 13px !important;
  font-weight: 450 !important;
}
