.tableUsu table > tbody > tr > td,
.tableUsu table > tbody > tr > th {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.tableUsu table > tfoot > tr > td,
.tableUsu table > tfoot > tr > th {
  padding-bottom: 5px !important;
}
.tableUsu table > thead > tr > td,
.tableUsu table > thead > tr > th {
  padding-bottom: 10px !important;
  padding: 10px;
  /* padding-left: 10px; */
  /* padding-right: 90px !important; */
}

.texto-Usu {
  font-size: 13px !important;
  font-weight: 450 !important;
}
